# ==========================================
# API SANCES
# ==========================================
SANCES_TOKEN=TOKEN
URL_FINANCEIRO=LINK API
MAX_RETRIES=5
REQUEST_TIMEOUT=30
RATE_LIMIT_SLEEP=60
SLEEP_REQUEST=0.5

# ==========================================
# BANCO DE DADOS
# ==========================================
DB_HOST=localhost
DB_PORT=3306
DB_USER=USER
DB_PASSWORD=SENHA
DB_NAME=NAME DB

# ==========================================
# AUTH
# ==========================================
SECRET_KEY=SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==========================================
# AMBIENTE
# ==========================================
ENV=development
